# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual Environments
venv/
env/
.venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# other
post/

# redundant files
analisa_resultados.py
distribuicao_somas.py